/* main */
section{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

article{
    transition: 0.2s;
    margin: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 1px 2px;
}

article a{
    display: block;
    position: relative;
    margin: 0 auto; /* Center it */
}

article a .content{
    position: absolute; /* Position the background text */
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    width: 100%;
    padding: 20px; 
    transition: 0.2s;
}

article a .content *{
    color: rgba(255, 255, 255, 0.83);
}

article a *{
    font-size: 1.2rem;
}

article a img{
    width: min(84vw, 480px);
    height: auto;
    object-fit:cover;
}

article:hover a .content{
    transition: 0.4s;
    background: rgba(0, 0, 0, 0.42);
}
article:hover{
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.4) 6px 2px 4px;
    color: white;
}